@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #app {
    @apply w-full h-full text-white;
    @apply overflow-x-hidden;
  }

  section {
    @apply h-screen relative;
    @apply snap-start;
  }
}

@layer utilities {
  .stroke {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 0.5rem;
    -webkit-text-stroke-color: white;
  }

  .big-text {
    @apply absolute inset-0;
    @apply flex overflow-x-hidden;
    @apply justify-center items-center;
  }
}

@layer components {
  .base-text {
    @apply font-bold;
    @apply text-6xl md:text-9xl lg:text-15xl;
  }

  .behind-text {
    @apply opacity-10 whitespace-nowrap;
    @apply font-bold lg:font-extrabold;
    @apply text-9xl md:text-15xl lg:text-30xl;
  }
}
